@media screen and (max-width:700px) {
    .header {
        display: flex;
        flex-direction: column;
        padding-left: 5px;
        margin-left: 0;
    }

    .button-movie {
        margin-top: 5px;
    }

    .container {
        padding-top: 250px;
        padding-left: 10px;
    }

    .main-movie {
        height: 600px;
    }

    .main-movie .title {
        font-size: 50px;
    }

    .main-movie .description {
        font-size: 15px;
    }

    .title-carousel {
        margin-left: 0px;
        padding: 8px 0 8px 30px;
        font-size: 15px;
    }
}

@media screen and (min-width:1000px) {
    .description {
        width: 55%;
    }
}